<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: head('Welcome to Music Application')"></head>
<body>
<header>
    <nav th:replace="partials/navbar :: top_navbar"></nav>

    <div class="parallax">
        <div class="main-container">
            <h1 class="dislay-4">Welcome to Tempo</h1>
            <p class="lead">The app that let's you listen to music, follow your favorite artists,
                and save your favorite songs and albums.</p>
            <p class="lead">Keep scrolling for more info or sign up for an account.</p>
        </div>
    </div>
</header>

<main>
    <div class="register">
        <p>Test body to see if it works</p>
    </div>
</main>

<footer th:replace="partials/footer :: main_footer"></footer>
<th:block th:replace="partials/scripts :: page_scripts"></th:block>
</body>
</html>